*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
.app{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #040108, #2a8890);
}
.programmsContainer{
  display: flex;
  flex-wrap: wrap;
}